@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meow+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1b1a2c;
  color: #ffffff;
  overflow-x: hidden;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.128) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* #0a0a0a     #1b1a2c   #43406b */
