.footer {
  background-color: #2e2e2e;
  padding: 2rem;
  margin-top: 4rem;
  text-align: center;
  color: white;
  font-size: 15px;
}

.footer-name {
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.footer-icons a {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  color: #ff8fd2;
}

.footer-bible {
  color: #ffffff;
  margin-top: 1rem;
}

.footer-copy {
  margin-top: 18px;
  font-size: 0.9rem;
  color: #aaa;
}
