.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 10%;
  min-height: 100vh;
}

.home-content h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  line-height: 1.2;
  text-align: center;
}

.home-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 300;
}

.btn-pink {
  background-color: #ff0099;
  color: white;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.home-image {
  position: relative;
  width: 295px;
  height: 330px;
}

.image-bg {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(10deg);
  z-index: 0;
}

.home-image img {
  width: 100%;
  height: 100%;
  transform: rotate(-10deg);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  z-index: 1;
  position: relative;
}
