.home-content {
  position: relative;
  z-index: 1;
  margin-top: 1rem;
}

.home-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  text-align: center;
}

.home-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 300;
}

.home-content .slogan {
  letter-spacing: 2px;
}

/* .home-content .slogan {
  background-color: #ffffff;
  border-radius: 10px;
  color: black;
  padding: 15px;
} */

.buttons-home {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.btn-pink {
  background-color: #aaaaaa83;
  color: white;
  border: none;
  padding: 0.5rem 1.6rem;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  border-right: #ff0080 6px solid;
  border-bottom: #ff0080 6px solid;
  font-size: 1.1rem;
  /* transition: 0.3s ease; */
}

.btn-pink:hover {
  background-color: #ff0080;
}

.btn-yellow {
  background-color: #aaaaaa83;
  color: white;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  border-right: #f0db4f 6px solid;
  border-bottom: #f0db4f 6px solid;
  font-size: 1.1rem;

  /* transition: 0.3s ease; */
}

.btn-yellow:hover {
  background-color: #f0db4f;
}

.home-image {
  position: relative;
  width: 310px;
  height: 378px;
  /* border: 4px dotted #ff0099; */
}

.image-bg {
  position: absolute;
  background-color: rgb(156, 155, 155);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(10deg);
  z-index: 0;
}

.home-image img {
  width: 100%;
  height: 100%;
  transform: rotate(-10deg);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  z-index: 1;
  position: relative;
}

.light-effect {
  position: absolute;
  top: -1%;
  left: -50%;
  width: 300px;
  height: 300px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(184, 184, 184, 0) 80%
  );

  filter: blur(60px);
  z-index: 0;
}

.highlight-name {
  position: relative;
  display: inline-block;
  font-family: "allura", cursive;
  font-size: 5.5rem; /* Ajusta según tu diseño */
}

.highlight-name,
.highlight-lastname,
.highlight-desc {
  position: relative;
  display: inline-block;
  font-weight: 700;
}

/* Subrayado para nombre */
.highlight-name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 100%;
  height: 0.4em;
  background-color: #6c63ff; /* violeta azulado */
  z-index: -1;
  transform: skewX(-10deg);
}

.highlight-lastname::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.1em;
  width: 100%;
  height: 0.4em;
  background-color: #ff0080; /* fucsia */
  z-index: -1;
  transform: skewX(-10deg);
}

.contact {
  text-align: center;
}

.contact::after,
.contact::before {
  content: "";
  display: block;
  width: 1000px;
  height: 3px;
  background-color: #ff0099;
  margin: 0.9rem auto;
}

.title-contact {
  font-size: 1.8rem;
}

.text-contact {
  margin-top: 1rem;
  font-size: 20px;
}

.btn-contact {
  background-color: #aaaaaa83;
  color: white;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 2rem;
  letter-spacing: 2px;
}
