.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 1.5rem 10%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navBar-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li {
  position: relative;
  cursor: pointer;
  padding-bottom: 4px;
}

.nav-links li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff0099;
  transition: width 0.3s ease;
}

.nav-links li:hover::after {
  width: 60%;
}

.nav-links li.active::after {
  width: 60%;
}

/* Toggle */
.toggle-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
}

.label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #1b1a2c;
}

.switch {
  width: 55px;
  height: 30px;
  border: 1.7px solid #1b1a2c;
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 2px;
  transition: background-color 0.3s ease;
  position: relative;
}

.switch .circle {
  width: 24px;
  height: 24px;
  background-color: #1b1a2c;
  border-radius: 50%;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  left: 2px;
}

.switch.active .circle {
  transform: translateX(25px);
}

.switch.active {
  justify-content: flex-end;
}
