.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* Toggle */
.toggle-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
}
