.projects-section {
  padding: 4rem 10%;
  background-color: transparent;
  text-align: center;
}

.projects-title {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  color: white;
  position: relative;
}

.projects-title::after,
.projects-title::before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #ff0099;
  margin: 0.5rem auto;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.project-card {
  width: 450px;
  height: 380px;
  background: #1a1a1a;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  text-align: start;
}

.project-card:hover {
  transform: scale(1.05);
  /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.234); */
  cursor: pointer;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-content {
  padding: 1rem;
  color: white;
}

.project-content h3 {
  color: #ffffff;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.project-content p {
  margin-top: 1rem;
  font-size: 15px;
  color: #cccccc;
}

.title-badge {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-badge {
  display: inline-block;
  padding: 0.4rem 0.9rem;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 600;
}

.project-badge.web {
  background-color: #f0db4f; /* amarillo */
  color: #000;
}

.project-badge.qa {
  background-color: #6c63ff; /* morado */
}

.project-badge.pm {
  background-color: #62d47b; /* verde */
}

/* 
.project-link {
  display: inline-block;
  margin-top: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
} */

/* Projects-nav */

.projects-nav {
  margin: 2rem 0;
  text-align: center;
  font-size: 18px;
}

.projects-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;

  gap: 2rem;
}

.projects-nav li {
  display: flex;
  align-items: center;
  gap: 10px; /* espacio entre punto y texto */
  cursor: pointer;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
}

.projects-nav li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.projects-nav li:nth-child(1)::before {
  background-color: #ffffff;
}
.projects-nav li:nth-child(2)::before {
  background-color: #f0db4f;
}
.projects-nav li:nth-child(3)::before {
  background-color: #6c63ff;
}
.projects-nav li:nth-child(3)::before {
  background-color: #6c63ff;
}
.projects-nav li:nth-child(4)::before {
  background-color: #62d47b;
}

.projects-nav li:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 5px;
}

.projects-nav li.active {
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 5px;
}
