.projects-section {
  padding: 4rem 10%;
  background-color: transparent;
  text-align: center;
}

.projects-title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: white;
  position: relative;
}

.projects-title::after,
.projects-title::before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #ff0099;
  margin: 0.5rem auto;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.project-card {
  width: 450px;
  height: 370px;
  background: #1a1a1a;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.234);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-content {
  padding: 1rem;
  color: white;
}

.project-content h3 {
  color: #ffffff;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.project-link {
  display: inline-block;
  margin-top: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.project-link:hover {
}
