.project-detail {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.project-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 5px 0;
}

.carousel img {
  width: 160px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s;
}

.carousel img:hover {
  transform: scale(1.05);
}

.project-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* text-align: center; */
  justify-content: center;
}

.project-right h2 {
  margin-bottom: 20px;
}

.github-link {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 15px;
  background: #aaaaaa83;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
  border-right: #f0db4f 6px solid;
  border-bottom: #f0db4f 6px solid;
}

.github-link:hover {
  background-color: #f0db4f;
}

.tech-icons {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tech-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tech-name {
  margin-top: 5px;
  font-size: 0.8rem;
  color: #b6b4b4;
  text-align: center;
}
