.tech-slider-header {
  text-align: center;
  margin-bottom: 1rem;
}

.tech-slider-header .title-tech-slider {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
  margin-top: 2rem;
}

.title-tech-slider::after,
.title-tech-slider::before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #ff0099;
  margin: 0.5rem auto;
}

.tech-slider {
  width: 100%;
  background-color: transparent;
  padding: 2rem 0;
  overflow: visible;
}

.tech-slider-wrapper {
  width: 100vw;
  overflow: hidden;
}

.tech-item {
  font-size: 3rem;
  margin: 0 1.5rem;
  transition: transform 0.3s ease;
  min-height: 60px;
}

/* .tech-item:hover {
  transform: scale(1.1);
} */

.tech-item.react {
  color: #61dafb;
}
.tech-item.tailwind {
  color: #38bdf8;
}
.tech-item.cypress {
  color: #536579;
}
.tech-item.springboot {
  color: #6db33f;
}
.tech-item.postgresql {
  color: #4386bd;
}
.tech-item.js {
  color: #f0db4f;
}
.tech-item.css {
  color: #264de4;
}
.tech-item.html {
  color: #e34c26;
}
.tech-item.mysql {
  color: #68a3cf;
}
.tech-item.postman {
  color: #ff6c37;
}
.tech-item.github {
  color: #ffffff;
}
.tech-item.git {
  color: #f05032;
}
.tech-item.angular {
  color: #dd0031;
}
.tech-item.php {
  color: #7277ca;
}
.tech-item.figma {
  color: #f24e1e;
}
