.tech-slider {
  width: 100%;
  background-color: transparent;
  padding: 1rem 0;
}

.tech-slider-wrapper {
  width: 100vw;
  overflow: hidden;
}

.tech-item {
  font-size: 3rem;
  margin: 0 1.5rem;
  transition: transform 0.3s ease;
}

.tech-item:hover {
  transform: scale(1.2);
}

.tech-item.react {
  color: #61dafb;
}
.tech-item.tailwind {
  color: #38bdf8;
}
.tech-item.springboot {
  color: #6db33f;
}
.tech-item.postgresql {
  color: #336791;
}
.tech-item.js {
  color: #f0db4f;
}
.tech-item.css {
  color: #264de4;
}
.tech-item.html {
  color: #e34c26;
}
.tech-item.mysql {
  color: #4479a1;
}
.tech-item.postman {
  color: #ff6c37;
}
.tech-item.github {
  color: #ffffff;
}
.tech-item.git {
  color: #f05032;
}
.tech-item.angular {
  color: #dd0031;
}
.tech-item.php {
  color: #777bb3;
}
.tech-item.figma {
  color: #f24e1e;
}
